
  .bodyContainer {
    height: 28vw;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../pictures/mainhouse.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .titleContainer {
    width: 60%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -4vw;
  }

  .titleText {
    font-family: 'IM+Fell+English+SC';
    font-size: 2.6vw;
    color: #6B671B;
  }

  .titleDescription {
    font-family: 'Cinzel', serif;
    font-size: 1.5vw;
    color: #6B671B;
  }

  .phoneNumber {
    font-family: 'Cinzel', serif;
    font-size: 1.5vw;
    color: #6B671B;
  }
