a {
  text-decoration: none;
}
  .fullFooter {
    background-color: #121E2C;
    width: 100%;
    text-align: right;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .developer {
    padding-top: .8vw;
  }

  .developerName {
    white-space: nowrap;
    font-family: 'Cinzel', serif;
    font-size: .8vw;
    color: #886B2A;
  }

  .developerCompany {
    margin-top: -.7vw;
    white-space: nowrap;
    font-family: 'Cinzel', serif;
    font-size: .8vw;
    color: #886B2A;
  }

  .developerPhone {
    margin-top: -.7vw;
    white-space: nowrap;
    font-family: 'Cinzel', serif;
    font-size: .8vw;
    color: #886B2A;
  }
