  .fullHeader {
    width: 100%;
    height: 6vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../pictures/independentagent.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left;
  }

  .headerTitle {
    font-family: 'IM+Fell+English+SC';
    font-size: 1.5vw;
    color: #466183;
    margin-top: 2vw;
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
    font-family: 'Fredericka+the+Great';
    font-size: 1.5vw;
    color: #466183;
    margin-top: 2vw;
    margin-left: 38vw;
  }

  .aboutHeader {
    margin-right: 3vw;
  }

  .contactHeader {
  }
