.aboutUsContainer {
  height: 45vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.aboutUsTitle {
  font-family: 'Cinzel', serif;
  font-size: 2.8vw;
  color: #886B2A;
  display: block;
  width: 100%;
  margin-bottom: -10vw;
}

.laborTitle {
  font-family: 'Cinzel', serif;
  font-size: 1vw;
  color: black;
  display: block;
  width: 100%;
  margin-bottom: -5vw;
}

h1 {
 overflow: hidden;
 text-align: center;
}
h1:before,
h1:after {
 background-color: #886B2A;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin-top: -8vw;
}

.itemTitle {
  font-family: 'Cinzel', serif;
  font-size: 1.5vw;
}

.itemText {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 1vw;
}

.oneServices {
  padding-left: 1vw;
  padding-right: 1vw;
  height: 10vw;
  width: 33.3%;
  color: black;
}

.twoServices {
  padding-left: 1vw;
  padding-right: 1vw;
  height: 10vw;
  width: 33.3%;
  color: black;
}

.threeServices {
  padding-left: 1vw;
  padding-right: 1vw;
  height: 10vw;
  width: 33.3%;
  color: black;
}

.fourServices {
  padding-left: 1vw;
  padding-right: 1vw;
  height: 10vw;
  width: 33.3%;
  color: black;
}

.fiveServices {
  padding-left: 1vw;
  padding-right: 1vw;
  height: 10vw;
  width: 33.3%;
  color: black;
}

.sixServices {
  padding-left: 1vw;
  padding-right: 1vw;
  height: 10vw;
  width: 33.3%;
  color: black;
}

.findOutMore {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #886B2A;
  color: white;
  margin-left: 4vw;
  margin-right: 4vw;
}
